</div>
<div class="footer-padding"></div>
<div class="footer">
  <p>Made with ❤️ by <a href="https://github.com/jeremy-browne" target="_blank">Jeremy Browne</a>, with knowledge taught
    by <a href="https://appbrewery.com/" target="_blank">The App Brewery</a></p>
</div>
</div>
</body>

</html>