<%- include("partials/header"); %>

    <h1>Compose</h1>
    <form method="post" action="/compose">
        <div class="form-group">
            <label for="postTitle">Title</label>
            <input type="text" name="postTitle" class="form-control" maxlength="60" required>
        </div>
        <div class="form-group">
            <label for="postBody">Post Content</label>
            <textArea name="postContent"  class="form-control" rows="10" cols="30" required></textArea>
        </div>
        <button type="submit" class="btn btn-primary">Publish</button>
    </form>

<%- include("partials/footer"); %>